<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Template • TodoMVC</title>
	<link rel="stylesheet" href="node_modules/todomvc-common/base.css">
	<link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
	<!-- CSS overrides - remove if you don't need it -->
	<link rel="stylesheet" href="css/app.css">
	<style>
		[v-cloak] {
			display: none!important;
		}

	</style>
</head>

<body>
	<section class="todoapp" id="app">
		<header class="header">
			<h1>vue</h1>
			<input class="new-todo" @keydown="add($event)" placeholder="What needs to be done?" v-model="newTask" autofocus>
		</header>
		<!-- This section should be hidden by default and shown when there are todos -->
		<section class="main">
			<input id="toggle-all" v-model="checkall" @change="toggleAll()" class="toggle-all" type="checkbox">


			<label for="toggle-all">Mark all as complete</label>
			<ul class="todo-list">
				<!-- These are here just to show the structure of the list items -->
				<!-- List items should get the class `editing` when editing and `completed` when marked as completed -->

				<!-- 可以使用filter过滤器，对当前数组中的所有的任务进行筛选
					如果isCompleted属性为true 则就是所有的已经完成的任务
					如果isCompleted属性为false 就是所有的未完成的任务
					如果isCompleted属性为undefined 就是所有的任务！ -->
				<li v-for='(item,index) in todos' :class="{completed: item.isCompleted, editing: item.id == editingid}">
					<div class="view">
						<input class="toggle" type="checkbox" v-model="item.isCompleted" @change="singleTaskCheck()">
						<label @dblclick="edit(item.id)" v-cloak>{{item.title}}</label>
						<button class="destroy" @click="del(item.id)"></button>
					</div>
					<input class="edit" v-model="item.title" value="Create a TodoMVC template" @keydown="update($event)">
				</li>
				<!-- <li>
						<div class="view">
							<input class="toggle" type="checkbox">
							<label>Buy a unicorn</label>
							<button class="destroy"></button>
						</div>
						<input class="edit" value="Rule the web">
					</li> -->
			</ul>
		</section>
		<!-- This footer should hidden by default and shown when there are todos -->
		<footer class="footer">
			<!-- This should be `0 items left` by default -->
			<span class="todo-count"><strong v-text="getLeftCount()">0</strong> item left</span>
			<!-- Remove this if you don't implement routing -->
			<ul class="filters">
				<li>
					<a :class="{selected: status==undefined}" href="#all">All</a>
				</li>
				<li>
					<a :class="{selected: status==false}" href="#active">Active</a>
				</li>
				<li>
					<a :class="{selected: status==true}" href="#completed">Completed</a>
				</li>
			</ul>
			<!-- Hidden if no completed items are left ↓ -->
			<button class="clear-completed" ng-hide="isHideClrBtn" @click="clearAllComepleted()">Clear completed</button>
		</footer>
	</section>
	<footer class="info">
		<p>Double-click to edit a todo</p>
		<!-- Remove the below line ↓ -->
		<p>Template by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
		<!-- Change this out with your name and url ↓ -->
		<p>Created by <a href="http://todomvc.com">you</a></p>
		<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
	</footer>
	<!-- Scripts here. Don't remove ↓ -->
	<script src="node_modules/todomvc-common/base.js"></script>
	<script src="./js/vue.js"></script>
	<script src="./node_modules/vue-router/dist/vue-router.js"></script>
	<script src="./js/app.js"></script>
</body>

</html>
